.cart-container {
  padding: 0px 24px;
  margin-top: 100px;
  border: 1px solid #f0f0f5;
  border-radius: 8px;
  :global {
    .cart-title {
      display: flex;
      flex: 0 0 100%;
      margin: 32px 0px;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
    .cart-info {
      border-top: 1px solid #f0f0f5;
      padding-top: 16px;
      padding-bottom: 32px;
      align-items: center;
      justify-content: space-between;
      .text {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--main-text);
      }
      .price {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
      }
    }
  }
}

@media screen and (max-width: 749.5px) {
  .cart-container {
    margin-top: 32px;
    padding-top: 18px;
    :global {
      .cart-title {
        display: none;
      }
      .cart-info {
        padding-bottom: 16px;
      }
    }
  }
}
