.register-container {
  :global {
    .register-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: var(--main-text);
    }
    section.register-container[data-phase='3']
      .progress-group[data-phase='shipping']
      .progress-icon
      .icon,
    section.register-container[data-phase='3']
      .progress-group[data-phase='address']
      .progress-icon
      .icon,
    section.register-container[data-phase='2']
      .progress-group[data-phase='address']
      .progress-icon
      .icon {
      display: inline-block;
    }
    section.register-container[data-phase='3']
      .progress-group[data-phase='shipping']
      .progress-icon
      .text,
    section.register-container[data-phase='3']
      .progress-group[data-phase='address']
      .progress-icon
      .text,
    section.register-container[data-phase='2']
      .progress-group[data-phase='address']
      .progress-icon
      .text {
      display: none;
    }

    section.register-container[data-phase='2']
      .progress-group[data-phase='credit-card']
      .progress-icon
      .icon,
    section.register-container[data-phase='1']
      .progress-group[data-phase='credit-card']
      .progress-icon
      .icon,
    section.register-container[data-phase='1']
      .progress-group[data-phase='shipping']
      .progress-icon
      .icon,
    section.register-container[data-phase='3']
      .progress-group[data-phase='credit-card']
      .progress-icon
      .icon,
    section.register-container[data-phase='2']
      .progress-group[data-phase='shipping']
      .progress-icon
      .icon,
    section.register-container[data-phase='1']
      .progress-group[data-phase='address']
      .progress-icon
      .icon {
      display: none;
    }
    section.register-container[data-phase='2']
      .progress-group[data-phase='credit-card']
      .progress-icon
      .text,
    section.register-container[data-phase='1']
      .progress-group[data-phase='credit-card']
      .progress-icon
      .text,
    section.register-container[data-phase='1']
      .progress-group[data-phase='shipping']
      .progress-icon
      .text,
    section.register-container[data-phase='3']
      .progress-group[data-phase='credit-card']
      .progress-icon
      .text,
    section.register-container[data-phase='2']
      .progress-group[data-phase='shipping']
      .progress-icon
      .text,
    section.register-container[data-phase='1']
      .progress-group[data-phase='address']
      .progress-icon
      .text {
      display: inline-block;
    }

    section.register-container[data-phase='3']
      .progress-group[data-phase='credit-card']
      .progress-label,
    section.register-container[data-phase='2']
      .progress-group[data-phase='shipping']
      .progress-label,
    section.register-container[data-phase='1']
      .progress-group[data-phase='address']
      .progress-label,
    section.register-container[data-phase='3']
      .progress-group[data-phase='shipping']
      .progress-label,
    section.register-container[data-phase='3']
      .progress-group[data-phase='address']
      .progress-label,
    section.register-container[data-phase='2']
      .progress-group[data-phase='address']
      .progress-label,
    section.register-container[data-phase='3']
      .progress-group[data-phase='credit-card']
      .progress-icon,
    section.register-container[data-phase='2']
      .progress-group[data-phase='shipping']
      .progress-icon,
    section.register-container[data-phase='1']
      .progress-group[data-phase='address']
      .progress-icon {
      color: var(--progress-current-color);
    }

    section.register-container[data-phase='3']
      .progress-group[data-phase='credit-card']
      .progress-icon,
    section.register-container[data-phase='2']
      .progress-group[data-phase='shipping']
      .progress-icon,
    section.register-container[data-phase='1']
      .progress-group[data-phase='address']
      .progress-icon {
      background-color: transparent;
      border: 1px solid var(--progress-current-color);
    }

    section.register-container[data-phase='2']
      .progress-group[data-phase='credit-card']
      .progress-label,
    section.register-container[data-phase='1']
      .progress-group[data-phase='credit-card']
      .progress-label,
    section.register-container[data-phase='1']
      .progress-group[data-phase='shipping']
      .progress-label,
    section.register-container[data-phase='2']
      .progress-group[data-phase='credit-card']
      .progress-icon,
    section.register-container[data-phase='1']
      .progress-group[data-phase='credit-card']
      .progress-icon,
    section.register-container[data-phase='1']
      .progress-group[data-phase='shipping']
      .progress-icon {
      color: var(--progress-undone-color);
    }

    section.register-container[data-phase='2']
      .progress-group[data-phase='credit-card']
      .progress-icon,
    section.register-container[data-phase='1']
      .progress-group[data-phase='credit-card']
      .progress-icon,
    section.register-container[data-phase='1']
      .progress-group[data-phase='shipping']
      .progress-icon {
      background-color: transparent;
      border: 1px solid var(--progress-undone-color);
    }

    section.register-container[data-phase='3']
      .progress-group[data-phase='shipping']
      .progress-icon,
    section.register-container[data-phase='3']
      .progress-group[data-phase='address']
      .progress-icon,
    section.register-container[data-phase='2']
      .progress-group[data-phase='address']
      .progress-icon {
      color: var(--progress-done-color);
      background-color: transparent;
    }

    section.register-container h2.register-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: var(--main-text);
    }

    section.register-container[data-phase='1'] .progress-bar[data-order='1'] {
      border-color: var(--done-progress-border);
    }
    section.register-container[data-phase='1'] .progress-bar[data-order='2'] {
      border-color: var(--undone-progress-border);
    }
    section.register-container[data-phase='1']
      .progress-group[data-phase='address']
      .progress-icon {
      background-color: var(--pg-addr-bg-color);
      border-color: var(--pg-addr-bg-color);
    }
    section.register-container[data-phase='1']
      .progress-group[data-phase='address']
      .progress-icon
      .text {
      color: var(--pg-addr-color);
    }
    section.register-container[data-phase='1'] form[data-phase='address'] {
      display: flex;
    }
    section.register-container[data-phase='1']
      ~ section.progress-control-container
      .button-group[data-phase='address'] {
      display: flex;
    }
    section.register-container[data-phase='1'] form[data-phase='shipping'] {
      display: none;
    }
    section.register-container[data-phase='1']
      ~ section.progress-control-container
      .button-group[data-phase='shipping'] {
      display: none;
    }
    section.register-container[data-phase='1'] form[data-phase='credit-card'] {
      display: none;
    }
    section.register-container[data-phase='1']
      ~ section.progress-control-container
      .button-group[data-phase='credit-card'] {
      display: none;
    }

    section.register-container[data-phase='2'] .progress-bar[data-order='1'] {
      border-color: var(--done-progress-border);
    }
    section.register-container[data-phase='2'] .progress-bar[data-order='2'] {
      border-color: var(--done-progress-border);
    }
    section.register-container[data-phase='2']
      .progress-group[data-phase='address']
      .progress-icon {
      background-color: var(--pg-addr-bg-color);
      border-color: var(--pg-addr-bg-color);
    }
    section.register-container[data-phase='2']
      .progress-group[data-phase='address']
      .progress-icon
      .text {
      color: var(--pg-addr-color);
    }
    section.register-container[data-phase='2'] form[data-phase='address'] {
      display: none;
    }
    section.register-container[data-phase='2']
      ~ section.progress-control-container
      .button-group[data-phase='address'] {
      display: none;
    }
    section.register-container[data-phase='2'] form[data-phase='shipping'] {
      display: flex;
    }
    section.register-container[data-phase='2']
      ~ section.progress-control-container
      .button-group[data-phase='shipping'] {
      display: flex;
    }
    section.register-container[data-phase='2'] form[data-phase='credit-card'] {
      display: none;
    }
    section.register-container[data-phase='2']
      ~ section.progress-control-container
      .button-group[data-phase='credit-card'] {
      display: none;
    }

    section.register-container[data-phase='3'] .progress-bar[data-order='1'] {
      border-color: var(--done-progress-border);
    }
    section.register-container[data-phase='3'] .progress-bar[data-order='2'] {
      border-color: var(--done-progress-border);
    }
    section.register-container[data-phase='3']
      .progress-group[data-phase='address']
      .progress-icon {
      background-color: var(--pg-addr-bg-color);
      border-color: var(--pg-addr-bg-color);
    }
    section.register-container[data-phase='3']
      .progress-group[data-phase='address']
      .progress-icon
      .text {
      color: var(--pg-addr-color);
    }

    section.register-container[data-phase='3'] form[data-phase='address'] {
      display: none;
    }
    section.register-container[data-phase='3']
      ~ section.progress-control-container
      .button-group[data-phase='address'] {
      display: none;
    }
    section.register-container[data-phase='3'] form[data-phase='shipping'] {
      display: none;
    }
    section.register-container[data-phase='3']
      ~ section.progress-control-container
      .button-group[data-phase='shipping'] {
      display: none;
    }
    section.register-container[data-phase='3'] form[data-phase='credit-card'] {
      display: flex;
    }
    section.register-container[data-phase='3']
      ~ section.progress-control-container
      .button-group[data-phase='credit-card'] {
      display: flex;
    }
  }
}
